body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.jumbotron {
  padding-bottom: 50px;
  padding-top: 50px;
  /*background-image: url('images/book2.jpg');*/
  background-color: orange;

}

.display-4 {
    font-weight: bold;
}


h3 {
  color: orange; 
}


.card-title {
  color: orange; 
}

.jumbo-container {
  padding: 50px 50px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.display-4 {
  font-size: 55px; 
}

.container {
  padding-bottom: 50px; 
  padding-top: 50px; 
   
}

/*CHAPTERS PORTION*/

.col-sm {
    padding-top: 25px;
    padding-bottom: 25px; 
}

.card {
  margin: 0 auto;
}

.card:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}